<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="base_url" value="http://api.openweathermap.org/data/2.5"/>
        <add key="api_key" value="b63bdc65a490edde580fca514be030e8" />
        <add key="access_key_url_mod" value="appid="/>
    </appSettings>
</configuration>